<?xml version="1.0" encoding="UTF-8"?>
<configuration>

        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp/>
                    <logLevel/>
                    <logLevelValue/>
                    <pattern>
                        <pattern>
                            {
                            "app": "reporting backend"
                            }
                        </pattern>
                    </pattern>
                    <mdc/>
                    <loggerName>
                        <fieldName>logger</fieldName>
                        <shortenedLoggerNameLength>40</shortenedLoggerNameLength>
                    </loggerName>
                    <message/>
                    <arguments/>
                    <stackTrace>
                        <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                            <maxDepthPerThrowable>30</maxDepthPerThrowable>
                            <maxLength>2147483647</maxLength>
                            <shortenedClassNameLength>30</shortenedClassNameLength>
                            <rootCauseFirst>true</rootCauseFirst>
                        </throwableConverter>
                    </stackTrace>
                </providers>
            </encoder>
        </appender>

        <root level="info">
            <appender-ref ref="CONSOLE" />
        </root>


</configuration>
